.card-img,
.card-img-bottom,
.card-img-top {
  height: 100px;
  width:  70px;
  border-radius: 200px;
  margin: auto;
}

.card{
    
    width:300px;
    
    
}

.card-title{
    text-align: center;
    color: rgb(69, 199, 69);
}