.card-img,
.card-img-bottom,
.card-img-top {
  height: 100px;
  width:  70px;
  border-radius: 200px;
  margin: auto;
}

.card{
    
    width:300px;
    margin-bottom: 1rem!important;  
}

.card-title{
    text-align: center;
    color: rgb(69, 199, 69) !important;
}
.buttons{
  display: flex;
  
}
.btn{
  width:100px;
  margin:15px;
  font-size: 13px;
}