.card-img,
.card-img-bottom,
.card-img-top {
  height: 100px;
  width:  70px;
  border-radius: 200px;
  margin: auto;
}

.card{
    padding: 30px;
    width:20%;
    margin: auto;
}
.card-img{
    border-radius: 20%;
}
.card-title{
    text-align: center;
}